@charset "UTF-8";
.inner-block {
    text-align: center;
    position: relative;
    border: 2px solid #000;
    padding: 20px 0;
    width: 1200px;
    margin: 120px auto;
    background-color: #fff;
}

h1 {
    font-size: 40px;
}

.qu {
    font-size: 50px;
}

button {
    background-color: #EAA770;
    width: 250px;
    margin: 20px;
    padding: 10px 0;
    border-radius: 15px;
}

.true {
    font-size: 50px;
    color: #f00;
}

.false {
    font-size: 50px;
    color: #00f;
}

.end {
    font-size: 50px;
    text-decoration: underline; 
}

li {
    font-size: 30px;
    text-align: left;
    padding: 20px;
}
